<div class="row justify-content-md-center">
  <div class="col-md-10 mt-4">
    <div class="card text-center shadow  mb-5 bg-white rounded">
      <div class="card-header font-italic">
        by <%=@article.user.username%>
        <%=gravatar_for(@article.user)%>
      </div>
      <div class="card-body">
        <h1><%= @article.title %></h1>
        <p class="card-text text-left"><%=@article.description%></p>
    <%if logged_in? and (@article.user == current_user || current_user.user_role == "admin")%>
        <%=link_to 'edit',edit_article_path(@article), class: "btn btn-warning"  %>&nbsp;&nbsp;
        <%=link_to 'delete',article_path(@article), class: "btn btn-danger", method: :delete%>
    <%end%>
      </div>
      <div class="card-footer text-muted">
        <%= time_ago_in_words(@article.created_at)%>
      </div>
    </div>	
</div>
</div>
