
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark mb-2">
        <%=link_to 'Home', root_path(), class: "navbar-brand"%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%=link_to "Users",users_path,class: "nav-link"%>
            </li>
            <!-- the line down had the active class -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%=link_to "All", articles_path(),class: "dropdown-item"%>
                <%=link_to "New", new_article_path(),class: "dropdown-item" if logged_in?%>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%=link_to "View all Categories", categories_path(),class: "dropdown-item"%>
                <%=link_to "New", new_category_path(),class: "dropdown-item" if logged_in? and current_user.user_role == "admin"%>
                  
              </div>
            </li>
        <%if logged_in?%>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%="Admin " if current_user.user_role == "admin"%> <%=current_user.username%></a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%=link_to "profile", user_path(current_user),class: "dropdown-item"%>
              <%=link_to 'log out', logout_path,class: "dropdown-item",method: :delete%>
              </div>
            </li>
        <%else%>
            <li class="nav-item">
              <%=link_to 'log in', login_path,class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%=link_to 'sign up', signup_path,class: "nav-link"%>
            </li>
        <%end%>    
          </ul>
          <form class="d-flex">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
  </nav>
